<div class="portfolio-page container-fluid">

  <div class="row">

    <!--( a ) Portfolio Page Fixed Image Portion -->

    <div class="image-container col-md-3 col-sm-12">
      <div class="mask">
      </div>
      <div class="main-heading">
        <h1>Messages</h1>
      </div>
    </div>

    <!--( b ) Portfolio Page Content -->

    <div class="content-container col-md-9 col-sm-12">

      <%= render partial: "shared/flash", flash: flash %>

      <!--( A ) Portfolio -->

      <div class="portfolio clearfix full-height">
        <h2 class="small-heading">MY MESSAGES</h2>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <div class="project-container">
                    <div class="row">
                        <div class="project-controls">
                          <ul class="messages-nav">
                            <li><%= link_to 'Incoming messages', messages_path %></li>
                            <li><%= link_to 'Sent messages', sents_index_path, class: 'active' %></li>
                            <li><%= link_to 'New message', new_message_path %></li>
                            <li><%= link_to 'Add friends', users_path %></li>
                          </ul>
                        </div>

                        <!-- Portfolio Control Buttons [ END ] -->

                        <div id="projects" class="projet-items clearfix">
                        <% @messages.each do |message| %>
                          <% if message.read %>
                          <div class="bd-callout bd-callout-info">
                            <h4><%= message.sender.name %></h4>
                            <p>
                              <%= message.body %>
                              <br><small class="text-muted pull-right">Read at <em><%= message.read_at.strftime("%A, %B %d, %H:%M") %></em></small>
                            </p>
                          </div>
                          <% else %>
                          <div class="bd-callout bd-callout-danger">
                            <h4><%= message.sender.name %></h4>
                            <p>
                              <%= message.body %>
                              <br><small class="text-muted pull-right"><em>This message is not read</em></small>
                            </p>
                          </div>
                          <% end %>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>

      <!-- Footer -->

      <%= render partial: "shared/footer" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#projects').mixItUp();
  });
</script>